.DS_Store
/.vscode/
/android/.gradle/
/android/.idea/
/android/app/build/
/ios/**/*.xcuserdatad/
/ios/mytest.xcodeproj/project.xcworkspace/
/ios/Pods/
/node_modules/
/unity/builds/android/unityLibrary/build/
/unity/builds/android/unityLibrary/symbols/
/unity/builds/android/unityLibrary/src/main/jniLibs
/unity/builds/android/unityLibrary/src/main/Il2CppOutputProject/Source/il2cppOutput/lumpedcpp/
